<title>Index</title>
<body background="assets\images\spiration-light.png" color=aquamarine>
    <nav class="navbar">
        <div class="container-fluid">
            <form class="navbar-form navbar-left">
             <a href="/about"><button type="button" class="btn btn-default navbar-btn" id="buyBtn">About</button></a>
            </form>
        </div>
    </nav>
      
        {{#each scrape}}
	<tr>
		<td>{{ id }}</td>
		<td>{{ title }}</td>
        <td>{{ link }}</td>
        
	</tr>
{{/each}}
    
    </body>